body {
  margin: 0;
  padding: 0;
  background-color: #49045e94;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  background-color: #49045ee5;
  padding: 20px;
  color: #ffff00;
  position: relative;
  height: 100px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  gap: 15px;
  position: absolute;
  right: 25px;
  font-size: 25px;
}

.active {
  color: #ffff00;
}

.title {
  text-align: right;
  position: absolute;
  right: 25px;
}

.subtitle {
  padding-top: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.table {
  display: flex;
  justify-content: center;
}

.pdf {
  height: 20px;
  margin-top: auto;
  background-color: #ff3344;
}
